{% extends 'base.html' %}

{% block content %}
<h2>Управление записями</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID Записи</th>
            <th>Услуга</th>
            <th>Мастер</th>
            <th>Клиент</th>
            <th>Дата</th>
            <th>Время</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
        <tr>
            <td>{{ appointment.id }}</td>
            <td>{{ appointment.service.name }}</td>
            <td>{{ appointment.master.name }}</td>
            <td>{{ appointment.client.name }}</td>
            <td>{{ appointment.date }}</td>
            <td>{{ appointment.time }}</td>
            <td>
                <a href="{{ url_for('admin.edit_appointment', appointment_id=appointment.id) }}" class="btn btn-warning btn-sm">Редактировать</a>
                <form action="{{ url_for('admin.delete_appointment', appointment_id=appointment.id) }}" method="POST" style="display:inline;">
                    {{ form.hidden_tag() }}
                    <input type="submit" class="btn btn-danger btn-sm" value="Удалить">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('admin.create_appointment') }}" class="btn btn-success">Добавить новую запись</a>
{% endblock %}
